## Cotización de ORO

In [3]:
import requests
import json

# URL de la API
url = "https://estadisticas.bcrp.gob.pe/estadisticas/series/api/PN01654XM/json"

# Realizar la petición
response = requests.get(url)

# Verificar que la petición fue exitosa
if response.status_code == 200:
    # Convertir la respuesta a un diccionario de Python
    data = response.json()
    
    # Crear diccionario para guardar los datos
    df = {}
    periodos = []
    rendimientos = []
    # Iterar sobre todos los periodos para extraer los rendimientos mensuales
    for period in data['periods']:
        periodos.append(period["name"])
        rendimientos.append(period["values"][0])
        
    df["periodo"] = periodos
    df["rendimiento"] = rendimientos
else:
    print(f"Error al hacer la petición: {response.status_code}")

In [4]:
df

{'periodo': ['Abr.2023',
  'May.2023',
  'Jun.2023',
  'Jul.2023',
  'Ago.2023',
  'Sep.2023',
  'Oct.2023',
  'Nov.2023',
  'Dic.2023',
  'Ene.2024',
  'Feb.2024',
  'Mar.2024',
  'Abr.2024',
  'May.2024',
  'Jun.2024',
  'Jul.2024',
  'Ago.2024',
  'Sep.2024',
  'Oct.2024',
  'Nov.2024',
  'Dic.2024',
  'Ene.2025',
  'Feb.2025',
  'Mar.2025'],
 'rendimiento': ['2001.641',
  '1991.18',
  '1941.1',
  '1949.20142857143',
  '1918.16695652174',
  '1919.15476190476',
  '1916.59090909091',
  '1985.71045454545',
  '2035.70619047619',
  '2033.53217391304',
  '2025.79190476191',
  '2166.78142857143',
  '2334.16272727273',
  '2349.48086956522',
  '2327.9425',
  '2394.87391304348',
  '2471.99227272727',
  '2571.43666666667',
  '2691.56391304348',
  '2649.60952380952',
  '2638.55909090909',
  '2647.05652173913',
  '2896.1255',
  '2986.97333333333']}

In [6]:
import pandas as pd
from datetime import datetime

# Diccionario de mapeo de meses en español
meses_espanol = {
    'Ene.': 'Jan', 'Feb.': 'Feb', 'Mar.': 'Mar', 'Abr.': 'Apr',
    'May.': 'May', 'Jun.': 'Jun', 'Jul.': 'Jul', 'Ago.': 'Aug',
    'Sep.': 'Sep', 'Oct.': 'Oct', 'Nov.': 'Nov', 'Dic.': 'Dec'
}

# Función para transformar las fechas
def convertir_fecha(fecha_str):
    mes_espanol = fecha_str[:4]
    anio = fecha_str[4:]
    mes_ingles = meses_espanol[mes_espanol]
    fecha_ingles = f"{mes_ingles} {anio}"
    return datetime.strptime(fecha_ingles, "%b %Y")

df_afp = pd.DataFrame(df)
df_afp["periodo_limpio"] = df_afp['periodo'].apply(convertir_fecha)
df_afp["rendimiento_limpio"] = df_afp["rendimiento"].astype(float)
df_afp[["periodo_limpio","rendimiento_limpio"]]

   periodo_limpio  rendimiento_limpio
0      2023-04-01         2001.641000
1      2023-05-01         1991.180000
2      2023-06-01         1941.100000
3      2023-07-01         1949.201429
4      2023-08-01         1918.166957
5      2023-09-01         1919.154762
6      2023-10-01         1916.590909
7      2023-11-01         1985.710455
8      2023-12-01         2035.706190
9      2024-01-01         2033.532174
10     2024-02-01         2025.791905
11     2024-03-01         2166.781429
12     2024-04-01         2334.162727
13     2024-05-01         2349.480870
14     2024-06-01         2327.942500
15     2024-07-01         2394.873913
16     2024-08-01         2471.992273
17     2024-09-01         2571.436667
18     2024-10-01         2691.563913
19     2024-11-01         2649.609524
20     2024-12-01         2638.559091
21     2025-01-01         2647.056522
22     2025-02-01         2896.125500
23     2025-03-01         2986.973333